.header_full {
    width: 100%;
    height: 137px;
    background: #1478E7;

    .header_top {
        width: 100%;
        height: 57px;
        background: #0060CC;

        div.header_icon_top {
            display: flex;
            margin-left: 136px;
            margin-top: 15px;

            .header_icon_top_bg {
                background: rgba(255, 255, 255, 0.06);
                color: #fff;
                border-radius: 50%;
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                margin-right: 10px;
            }

            .icon1 {
                width: 16px;
                height: 16px;
                margin-left: 4px;
            }
        }

        .header_icon_right {
            display: flex;
            margin-top: 15px;

            .header_icon_right_phone {
                i {
                    color: #FFC600;
                }

                .header_icon_right_text_right {
                    margin-left: 7px;
                    color: #fff;

                    span {
                        margin-left: 7px;
                        color: rgb(183, 187, 234);
                    }
                }
            }
        }
    }

    nav {
        height: 80px;
        padding-left: 120px;
        padding-right: 90px;

        div {
            a {
                font-family: 'Montserrat';

                div {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 40px;
                    letter-spacing: 4px;
                    text-transform: capitalize;
                    color: #FFFFFF;

                    span {
                        color: #FFC600;
                    }
                }
            }

            div {
                ul {
                    margin-left: 30px;

                    li {
                        padding-left: 30px;
                        padding-right: 30px;

                        a {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 24px;
                            letter-spacing: 0.005em;
                            color: #FFFFFF;
                            padding-top: 35px;
                            padding-bottom: 26px;

                            &:hover {
                                color: #fff;
                                padding-top: 30px;
                                padding-bottom: 26px;
                                border-bottom-style: solid;
                                border-width: 4px;
                                border-bottom-color: #FFCC00;
                            }
                        }
                    }
                }
            }
        }
    }
}

//mobile
@media only screen and (max-width : 46.25em) {
    .header_full {
        width: 100%;
        height: 137px;
        background: #1478E7;

        .header_top {
            div.header_icon_top {
                display: flex;
                left: 50%;
                right: 50%;
                margin-top: 10px;

                .header_icon_top_bg {
                    height: 18px;
                    width: 18px;
                }

                .icon1 {
                    width: 12px;
                    height: 12px;
                    margin-left: 4px;
                }
            }

            .header_icon_right {
                margin-top: 0px;
                margin-left: 25px;
                .header_icon_right_phone {
                    padding-right: 15px;
                    i {
                        color: #FFC600;
                        font-size: 10px;
                    }

                    .header_icon_right_text_right {
                        margin-left: 3px;

                        font-size: 10px;

                        span {
                            margin-left: 3px;

                            font-size: 10px;
                        }
                    }
                }
            }
        }

        nav {
            height: 80px;
            padding-left: 0px;
            padding-right: 10px;

            div {
                a {
                    font-family: 'Montserrat';

                    div {
                        font-size: 21px;
                    }
                }
            }
        }
    }
}

//tablet
@media only screen and (min-width : 46.25em) and (max-width: 1024px) {
    .header_full {
        width: 100%;
        height: 137px;
        background: #1478E7;

        .header_top {
            div.header_icon_top {
                margin-left: 30px;
            }
        }

        nav {
            height: 80px;
            padding-left: 20px;
            padding-right: 10px;

            div {
                div {
                    ul {
                        margin-left: 30px;

                        li {
                            padding-left: 10px;
                            padding-right: 0px;

                            a {
                                font-weight: 400;
                                font-size: 13px;

                                &:hover {
                                    color: #fff;
                                    padding-top: 35px;
                                    padding-bottom: 20px;
                                    border-bottom-style: solid;
                                    border-width: 4px;
                                    border-bottom-color: #FFCC00;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}