@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.full_page {
    position: absolute;
    width: 100%;
    height: 137px;
    left: 0px;
    top: -1px;
    background: #1478E7;
    filter: drop-shadow(0px 6px 20px rgba(0, 29, 61, 0.12));
}

.header {
    position: absolute;
    width: 100%;
    height: 57px;
    left: 0px;
    top: -1px;
    background: #0060CC;
}

.header2 {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 57px;
}

.icon_fb {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 100px;
}

.header1_v2 {
    display: flex;
    align-items: center;
    height: 57px;
    margin-left: 150px;
}

.phone {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    color: yellow;
    text-align: right;
    font-size: 18px;
}

div.ant-col.ant-col-12.gutter-row {
    height: 57px;
}

.hotline {
    margin-left: 7px;
    color: #fff;
}

.hotline span {
    color: #a0bddf;
    margin-left: 10px;
    margin-right: 50px;
}

.header2_v1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.aegona {
    position: absolute;
    width: 171px;
    height: 40px;
    left: 140px;
    top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
}

.aegona span {
    color: #FFC600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 80px;
}

li {
    display: inline;
}

.navbarr {
    width: 114px;
    height: 80px;
    padding-left: 12px;
    padding-right: 12px;
    left: 370px;
    top: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    margin-right: 100px;

    &:hover {
        color: #fff;
        padding-top: 30px;
        padding-bottom: 26px;
        border-bottom-style: solid;
        border-width: 4px;
        border-bottom-color: #FFCC00;
    }
}

.btn_Login {
    padding: 8px 16px;
    gap: 12px;
    width: 168px;
    height: 48px;
    background: #FFCC00;
    border-radius: 2px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-left: 60px;

    &:hover {
        background: #FFCC00;
        width: 168px;
        height: 58px;
        border-radius: 5px;
    }
}

.dev_Footer {
    margin-top: 136px;
}

.dev_Bottom {
    margin-top: 3200px;
    position: absolute;
    width: 100%;
    height: 556px;
    left: 0px;
    top: 0px;

    background: #006CE5;
}

.emailBot {
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.emailBot_Col {
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.16);
    border-style: solid;
    border-width: 0.1px;
}

.dev_bottom_center {
    height: 401px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aegona_bottom {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 50px;
}

.aegona_bottom span {
    color: #FFC600;
}

.bottom_center_v1 {
    display: flex;
    position: absolute;
}

.hotline_bot {
    margin-left: 15px;
    color: #fff;
    margin-top: 2px;
}

.bottom_center_v2 {
    display: flex;
    position: absolute;
    margin-top: 30px;
}

.bottom_center_v3 {
    display: flex;
    position: absolute;
    margin-top: 60px;
}

.bottom_center_v4 {
    display: flex;
    position: absolute;
    margin-top: 90px;
}

.emailBot_Col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.hotline_bot1 {
    color: #fff;
    margin-top: 2px;
}

.aegona_bottom1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 125% */
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 0px 70px 20px 0px;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #FFCC00;
}

li.bottom_ul {
    color: #fff;
    cursor: pointer;

    &::before {
        content: "\2022";
        color: #FFCC00;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        font-size: 20px;
    }
}

.aegona_bottom2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 125% */
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 0px 0px 20px 0px;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #FFCC00;
}

.btn_email {
    padding: 8px 16px;
    gap: 12px;
    width: 168px;
    height: 48px;
    background: #FFCC00;
    border-radius: 2px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;

    &:hover {
        background: #FFCC00;
    }
}

.bottom_x2 {
    border-top-style: solid;
    border-width: 1px;
    border-top-color: #2984E9;
    height: 64px;
    width: 90%;
    display: flex;
    align-items: center;
}

.bottom_x1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_x2_v1 {
    color: #a0bddf;
    margin-left: 10px;
    margin-right: 50px;
}

.bottom_x2_v2 {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a0bddf;
    margin-left: 10px;
    margin-right: 50px;
    text-align: right;
    margin-left: 235px;
}

.Footer_top {
    width: 100%;
    height: 868px;
}

.Footer_top_Col_1 {
    height: 787px;
}

.Footer_top_Col_1_text {
    position: absolute;
    width: 564px;
    height: 96px;
    margin-left: 120px;
    margin-top: 173px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */

    letter-spacing: 0.012em;
    text-transform: capitalize;

    color: #001D3D;

    text-shadow: 1px 2px 4px rgba(4, 24, 57, 0.12);

}

.Footer_top_Col_1_text span {
    color: #FFC600;
}

.Footer_top_Col_1_text1 {

    position: absolute;
    width: 625px;
    height: 48px;
    left: 120px;
    top: 324px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    letter-spacing: 0.012em;

    color: #001D3D;
}

.Footer_top_Col_1_btn {
    position: absolute;
    width: 216px;
    height: 56px;
    left: 120px;
    top: 416px;

    background: #FFCC00;
    border-radius: 2px;
    border-color: #FFCC00;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;

    &:hover {
        background: #fff;
        border-color: #FFCC00;
        color: #FFCC00;
        border-width: 3px;
    }
}

.Footer_top_Col_1_btn1 {
    position: absolute;
    width: 216px;
    height: 56px;
    left: 384px;
    top: 416px;

    background: #fff;
    border-radius: 2px;
    border-width: 3px;
    border-color: #FFCC00;
    color: #FFCC00;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;

    &:hover {
        background: #FFCC00;
        border-color: #FFCC00;
    }
}

div.h1_1 {
    position: absolute;
    width: 120px;
    height: 48px;
    left: 390px;
    top: 144px;
    background: url('../img/dot.png');
}

.background_Footer_top_Col_2 {

    position: absolute;
    width: 528px;
    height: 691px;
    left: 240px;

    background: #ECF4FD;
}

.background_Footer_top_Col_2_v1 {
    position: absolute;
    width: 152px;
    height: 408px;
    left: 240px;
    top: 146px;
    background: url('../img/dot1.png');
}

.background_Footer_top_Col_2_v2 {
    position: absolute;
    width: 522px;
    height: 330px;
    left: 108px;
    top: 188px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/2.png');
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

}

.background_Footer_top_Col_2_v2_1 {
    position: absolute;
    width: 64px;
    height: 64px;

    background: url('../img/3.png');

    &:hover {
        cursor: pointer;
    }
}

.background_Footer_top_Col_2_v3 {
    position: absolute;
    width: 200px;
    height: 144px;
    left: 488px;
    top: 422px;

    background: url('../img/4.png');
    border-radius: 4px;
}

.background_Footer_top_Col_2_v4 {
    position: absolute;
    width: 120px;
    height: 88px;
    left: 278px;
    top: 562px;

    background: url('../img/6.png');
    border-radius: 4px;
}

.background_Footer_top_Col_2_v5 {
    position: absolute;
    width: 268px;
    height: 160px;
    left: 328px;
    top: 602px;

    background: url('../img/5.png');
    border-radius: 4px;
}

.background_Footer_top_Col_2_circle {
    box-sizing: border-box;
    position: absolute;
    width: 800px;
    height: 800px;
    left: 85px;
    border: 2px solid #E8E8E8;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_Footer_top_Col_2_circle1 {
    box-sizing: border-box;
    position: absolute;
    width: 700px;
    height: 700px;
    border: 2px solid #E8E8E8;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-top: 0;
}

.background_Footer_top_Col_2_circle2 {
    box-sizing: border-box;
    position: absolute;
    width: 800px;
    height: 800px;
    left: -250px;
    top: 696px;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.background_Footer_top_Col_2_v2_2 {
    position: absolute;
    width: 152px;
    height: 88px;
    left: 85px;
    top: 873px;
    background: url('../img/dot2.png');
}

.Footer_top_Col_1_text_2 {
    position: absolute;
    width: 521px;
    height: 96px;
    left: 120px;
    top: 885px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */

    letter-spacing: 0.005em;
    text-transform: capitalize;

    color: #001D3D;

}

.background_Footer_top_Rec_1 {
    position: absolute;
    width: 160px;
    height: 8px;
    left: 120px;
    top: 1005px;

    background: rgba(255, 204, 0, 0.72);
    border-radius: 100px;
    transition: width 2s;

    &:hover {
        width: 460px;
    }
}

.background_Footer_top_Col_3_v2_1 {
    position: absolute;
    width: 676.59px;
    height: 488px;
    left: 56px;
    top: 1019px;

    background: url('../img/11.png');
}

.background_Footer_top_Col_3_v2_2 {
    position: absolute;
    width: 144px;
    height: 93px;
    left: 56px;
    top: 1227px;

    background: url('../img/8.png');
    box-shadow: 4px 10px 20px rgba(0, 29, 61, 0.1);
    border-radius: 8px;
}

.background_Footer_top_Col_3_v2_3 {
    position: absolute;
    width: 165.59px;
    height: 300px;
    left: 545px;
    top: 1247px;

    background: url('../img/10.png');
    filter: drop-shadow(8px 16px 32px rgba(0, 29, 61, 0.08));

}

.Footer_top_Col_1_text_3 {
    position: absolute;
    width: 466px;
    height: 40px;
    left: 0px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    letter-spacing: 0.5px;

    color: #001D3D;
}

.cac_van_de_ng_hoc {
    position: absolute;
    width: 436px;
    height: 180px;
    left: 873px;
    top: 1061px;
    background: url('../img/12.png');
}

.cac_van_de_ng_hoc_1 {
    position: absolute;
    width: 512px;
    height: 180px;
    left: 873px;
    top: 1289px;
    background: url('../img/13.png');
}

.Footer_center {
    width: 100%;
    height: 394px;
    margin-top: 530px;
}

.Footer_center_Row {
    display: flex;
    justify-content: center;
    align-items: center;

    .Footer_center_Col {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        width: 384px;
        height: 303px;
        background: #FFFFFF;
        box-shadow: 0px 0px 50px #cecece;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;



        &:hover {
            cursor: pointer;
            background: #d2d2d2;
        }
    }
}

.Footer_center_Col_Background_img_1 {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 156px;
    top: 40px;
    background: url('../img/16.png');
}

.Footer_center_Col_Background_img_2 {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 156px;
    top: 40px;
    background: url('../img/15.png');
}

.Footer_center_Col_Background_img_3 {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 156px;
    top: 40px;
    background: url('../img/14.png');
}

.Footer_center_Col_Background_text_1 {
    position: absolute;
    width: 102px;
    height: 28px;
    left: 140px;
    top: 131px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    text-align: center;
    letter-spacing: 0.3px;
    text-transform: capitalize;

    color: #001D3D;
}

.Footer_center_Col_Background_text_1_v1 {
    position: absolute;
    width: 320px;
    height: 96px;
    left: 32px;
    top: 179px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;
    letter-spacing: 0.3px;
    text-transform: capitalize;

    color: #001D3D;
}

.Footer_center_dot {
    position: absolute;
    width: 152px;
    height: 88px;
    left: 1285px;
    top: 1534px;
    background: url('../img/dot2.png');
}

.Footer_center_dot2 {
    position: absolute;
    width: 152px;
    height: 88px;
    left: 65px;
    top: 1838px;
    background: url('../img/dot2.png');
}

.Footer_center_Col_Background_dot {
    position: absolute;
    width: 200px;
    height: 4px;
    left: 92px;
    top: 0px;

    background: #006CE5;
    border-radius: 4px 4px 0px 0px;
    margin-top: -5px;
    background: url('../img/17.png');
}

.Footer_center2 {
    width: 100%;
    height: 328px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    // align-items: center;
}

.Footer_center2_text {
    left: 426px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */

    letter-spacing: 0.005em;
    text-transform: capitalize;

    color: #001D3D;
}

.Footer_center2_dot {
    width: 160px;
    height: 8px;
    margin-left: 100px;
    margin-top: 30px;
    background: rgba(255, 204, 0, 0.72);
    border-radius: 100px;
}

.Footer_center2_Row {
    position: absolute;
    width: 90%;
    margin-top: 140px;
    display: flex;
    justify-content: center;
}

.Footer_center2_Col {
    width: 282px;
    height: 180px;
    top: 30px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #E8E8E8;

    &:hover {
        border-color: #0060CC;
        border-style: double;
        border-width: 5px;
    }
}

.Footer_center2_Col_bg1 {
    width: 100%;
    height: 56px;
    margin-bottom: 10px;
}

.Footer_center2_Col_bg1_icon {
    position: absolute;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 2px 4px 12px rgba(4, 24, 57, 0.06);
    border-radius: 4px;
}

.phone_1 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    color: #0060CC;
    text-align: right;
    font-size: 28px;
}

.Footer_center2_Col1 {
    width: 282px;
    height: 200px;
    top: 30px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.Footer_center2_Col_bg1_text {
    position: absolute;
    left: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 140% */

    letter-spacing: 0.12px;

    color: #041839;
}

.Footer_center2_Col_bg1_text1 {
    position: absolute;
    width: 530px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: rgba(4, 24, 57, 0.87);
}

.Footer_center2_Col2_background_map {
    position: absolute;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ECF4FD;
}

.Footer_center2_Col2_background_map1 {
    box-sizing: border-box;

    position: absolute;
    width: 600px;
    height: 600px;
    left: 250px;
    margin-top: -170px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer_center2_Col2_background_map_icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 160px;
    top: 0px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 18px rgba(4, 24, 57, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer_center2_Col2_background_map_icon1 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 420px;
    top: 460px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 18px rgba(4, 24, 57, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Footer_center2_Col2_background_map_icon2 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 100px;
    top: 520px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 18px rgba(4, 24, 57, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone_2 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    color: #FFC600;
    text-align: right;
    font-size: 14px;
}

.Footer_center2_Col2_background_map_icon3{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 335px;
    top: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    background: #FFFFFF;
}

.Footer_center2_Col2_background_map_icon4{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 204px;
    top: 512px;
    
    background: #FFFFFF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.Footer_center2_Col2_map {
    width: 560px;
    height: 280px;

    background: url('../img/map.png');
    filter: drop-shadow(12px 20px 32px rgba(4, 24, 57, 0.1));
    border-radius: 4px;
    margin-top: -20px;

    transition: all .3s ease;

    &:hover{
        transform: scale(1.1);
    }
}