@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.contact_full {
    margin-top: 50px;

    .contact_top {
        padding-left: 120px;
        padding-right: 120px;
        width: 50%;

        h5 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.0025em;
            padding-bottom: 30px;
        }

        .border_text {
            width: 60%;
            height: 5px;
            background-color: #ffda53;
            border-radius: 10px;
            margin-top: -20px;
        }

        .full {
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: flex-start;
            // text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;

            .zzz {
                width: 96%;
                margin-top: 20px;
                padding-bottom: 35px;
            }

            Button {
                color: #fff;
                // font-size: 12px;
                letter-spacing: 1px;
                transition: transform 20ms ease-in;
                cursor: pointer;
                margin: 8px 0;
                width: 100%;
            }

            button:active {
                transform: scale(0.95);
            }

            button:focus {
                outline: none;
            }

            .form-submit-btn {
                margin-top: 20px;
            }

            button.ghost {
                background: transparent;
                border-color: #fff;
            }
        }
    }

    .contact_center {
        padding-top: 70px;

        .contact_center_bg {
            display: flex;

            .icon {
                color: #0e76a8;
                font-size: 42px;
            }

            .contact_center_bg_text {
                padding-top: 15px;
                padding-left: 15px;
                padding-bottom: 20px;
                border-bottom-style: solid;
                border-width: 1px;
                border-color: rgb(219, 219, 219);
                width: 70%;

                .contact_center_text {
                    font-size: 20px;
                    font-weight: 700;
                    color: #111111;
                }

                .contact_center_text1 {
                    padding-left: 10px;
                    margin-top: 10px;
                    font-size: 16px;
                    color: rgb(136, 136, 136);
                    a{
                        color: rgb(136, 136, 136);
                        &:hover{
                            color: #0085c2;
                        }
                    }
                }
            }
        }
    }
}


/* phone width < 740px */
@media only screen and (max-width : 46.25em) {
    .contact_full {
        .contact_top {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 50px;

            h3 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                line-height: 20px;
                letter-spacing: 0.0025em;
                padding-bottom: 20px;
                font-size: 14px;
            }

            .full {
                background-color: #fff;
                margin-top: 0px;
                margin-bottom: 30px;

                .zzz {
                    width: 96%;
                    margin-top: 0px;
                    margin-left: 0%;
                    padding-bottom: 35px;
                }
            }
        }
    }
}

/* tablet width >= 740px và width < 1024px */
@media only screen and (min-width : 46.25em) and (max-width : 64.9375em) {
    .contact_full {
        .contact_top {
            padding-left: 50px;
            padding-right: 50px;

            h3 {
                padding-bottom: 20px;
            }

            .full {
                background-color: #fff;
                margin-top: 0px;
                margin-bottom: 30px;

                .zzz {
                    width: 96%;
                    margin-top: 0px;
                    padding-bottom: 35px;
                }
            }
        }
    }
}