@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.contact_full {
    .contact_top {
        padding-left: 120px;
        padding-right: 120px;
        margin-top: 50px;

        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            line-height: 20px;
            letter-spacing: 0.0025em;
            padding-bottom: 30px;
        }

        .full {
            background-color: #fff;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: flex-start;
            // text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;

            .zzz {
                width: 96%;
                margin-top: 20px;
                padding-bottom: 35px;
            }

            Button {
                color: #fff;
                // font-size: 12px;
                letter-spacing: 1px;
                transition: transform 20ms ease-in;
                cursor: pointer;
                margin: 8px 0;
                width: 100%;
            }

            button:active {
                transform: scale(0.95);
            }

            button:focus {
                outline: none;
            }

            .form-submit-btn {
                margin-top: 20px;
            }

            button.ghost {
                background: transparent;
                border-color: #fff;
            }
        }
    }
}


/* phone width < 740px */
@media only screen and (max-width : 46.25em) {
    .contact_full {
        .contact_top {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 50px;

            h3 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                line-height: 20px;
                letter-spacing: 0.0025em;
                padding-bottom: 20px;
                font-size: 14px;
            }

            .full {
                background-color: #fff;
                margin-top: 0px;
                margin-bottom: 30px;

                .zzz {
                    width: 96%;
                    margin-top: 0px;
                    margin-left: 0%;
                    padding-bottom: 35px;
                }
            }
        }
    }
}

/* tablet width >= 740px và width < 1024px */
@media only screen and (min-width : 46.25em) and (max-width : 64.9375em) {
    .contact_full {
        .contact_top {
            padding-left: 50px;
            padding-right: 50px;

            h3 {
                padding-bottom: 20px;
            }

            .full {
                background-color: #fff;
                margin-top: 0px;
                margin-bottom: 30px;

                .zzz {
                    width: 96%;
                    margin-top: 0px;
                    padding-bottom: 35px;
                }
            }
        }
    }
}