@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}


<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/foldercs/emailverify.css" rel="stylesheet" />
    <style>
        form {
            background: white;
        }
    </style>
</head>
<body>
    <!-- Hidden preheader text -->
    <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
        Go anywhere with anywheel!
    </div>

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <!-- Logo -->
        <tr>
            <td bgcolor="#f4f4f4" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td align="center" valign="top" style="padding: 40px 10px 40px 10px;">
                            <!-- Your logo here -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Heading -->
        <tr>
            <td bgcolor="#ffffff" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="center" valign="top" style="padding: 40px 20px 20px 20px; border-radius: 2px 2px 0px 0px; color: #AADB1E; font-size: 45px; font-weight: 700; line-height: 48px;">
                            <h1 style="font-size: 40px; font-weight:700;">LOGOUT</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Content -->
        <tr>
            <td bgcolor="#ffffff" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 40px 30px; color: #000000; font-size: 16px; font-weight: 600; line-height: 25px;">
                            <p>ARE YOU  SURE TO LOGOUT</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 60px 30px;">
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td  align="center" style="border-radius: 30px;" bgcolor="#000000">
                                       
                                        @{
                                            if (User.Identity?.IsAuthenticated ?? false)
                                            {
                                                <form  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">

                                                    <button type="submit" id="confirm-link" class="ui inverted red button">LogOut</button>
                                                </form>
                                  }
                                            else
                                            {
                                                <p>You have successfully logged out of the application.</p>
                                            }
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- Additional content -->
                    <!-- Additional content -->
                </table>
            </td>
        </tr>

        <!-- Footer -->
        <tr>
            <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#f4f4f4" align="center" style="padding: 0px 30px 30px 30px; color: #666666; font-size: 14px; font-weight: 400; line-height: 18px;">
                            <br>
                            <p style="margin: ;"><a href="#" target="_blank" style="color: #111111; font-weight: 700;">Additional content here</a></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

   

</body>
</html>