@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div style="min-height:70vh; margin-left:20%, ">
            <div class="ui cards">
                <div class="card">
                    <div class="content">

                        <div class="header">
                            This app does not currently have a real email sender registered,
                        </div>
                        <div class="meta">
                            for how to configure a real email sender.
                            Normally this would be emailed:
                        </div>
                        <div class="description">
                            Click Approve to confirm your account
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                             <a id="confirm-link" href="@Model.EmailConfirmationUrl">  <div class="ui basic green button">Approve</div></a>                    
                        </div>
                    </div>
                </div>

            </div>
        
        </div>

    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}


