*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', 'Aprial',sans-serif;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn ease .3s;

    &.active{
        display: block;
    }
}

.product__btn{
    width: 100%;

    @include responsive(xl-screen){
        width: auto;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

a{
    text-decoration: none;
    &:hover{
        color: #000;
    }
}

#root{
    overflow: hidden;
}

li{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}

.b-r{
    border-right: 1px solid $color-border;
}

.inputField-input {
    width: 100%;
    border: none;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
    color: #222;
    padding: 0 15px;
    outline: none;

    &:focus{
        border: 1px solid #2D9CDB;
    }

    &-eye{
        position: absolute;
        right: 15px;
        top: 50%;
        color: #ccc;
        transform: translateY(-50%);

        &.active{
            color: blue;
        }
    }
}

.mt-110{
    margin-top: 50px;

    @include responsive(lg-screen){
        margin-top: 110px;
    }
}
