$bg-primary: #006CE5;
$bg-header: #0060CC;
$color-yellow: #FFCC00;
$color-yellow-sub: #FFC600;
$color-title: #001D3D;
$color-orange: #FF4800;
$color-green: #00B365;
$color-border: rgba(255, 255, 255, 0.16);

