@{
    ViewData["Title"] = "Home Page";
}

<body class="layout-no-sidebars wide not-preloader frontpage node--type-home-page" style="background-image: url('https://www.aegona.com/sites/default/files/Aegona-software-development-company-banner-home-1.png');background-repeat: no-repeat;background-size: cover;background-position: center center;">
    @* >
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</body>
@*https://www.aegona.com/sites/default/files/Aegona-software-development-company-banner-home-1.png*@