.text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}
h5{
  color: #26A69A;
}

.App-logo{
	height: 8vmin;
	pointer-events: none;
	padding-right: 10px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

div#user-login.row{
  margin-top: 100px;
}

div.col.s6.z-depth-6.card-panel{
  margin-left: 295px;
  margin-top: 18px;
}

label.Subject{
  font-size: 18px;
}
textarea{
  margin-top: 20px;
}

/* tablet width >= 740px và width < 1024px */
@media only screen and (min-width : 46.25em) and (max-width : 64.9375em){
  div.col.s6.z-depth-6.card-panel{
    width: 600px;
    height: auto;
    margin-left: 145px;
  }
  }
