<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" type="text/css" href="../Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="../Semantic-UI-CSS-master/themes/default/assets/fonts/brand-icons.eot">
    <link rel="stylesheet" href="../Semantic-UI-CSS-master/themes/default/assets/fonts/icons.ttf">
    <link rel="stylesheet" href="../Semantic-UI-CSS-master/themes/default/assets/fonts/icons.otf">
    <link rel="stylesheet" href="../Semantic-UI-CSS-master/themes/default/assets/fonts/brand-icons.woff">
    <link rel="stylesheet" href="../Semantic-UI-CSS-master/themes/default/assets/fonts/brand-icons.woff2">
    <link rel="stylesheet" href="../Semantic-UI-CSS-master/themes/default/assets/fonts/icons.ttf">
    <link rel="stylesheet" href="../Semantic-UI-CSS-master/themes/default/assets/fonts/icons.ttf">
    <link rel="stylesheet" href="../Semantic-UI-CSS-master/themes/default/assets/fonts/outline-icons.eot">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/contact.css">
</head>

<body>
    <div class="ui middle aligned center aligned grid main-body m-0-auto">
        <div class="contact-form-container column">
            <form class="ui large form contact-form">
                <h2 class="contact-title">Contact us</h2>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <div class="contact-field">
                                <input id="firstName" class="contact-input" type="text" name="shipping[first-name]">
                                <label for="firstName" class="contact-label">First Name</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="contact-field">
                                <input id="lastName" class="contact-input" type="text" name="shipping[first-name]">
                                <label for="lastName" class="contact-label">Last Name</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <div class="contact-field">
                                <input id="firstName" class="contact-input" type="text" name="shipping[first-name]">
                                <label for="firstName" class="contact-label">Email Address</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="contact-field">
                                <input id="websiteName" class="contact-input" type="text" name="shipping[first-name]">
                                <label for="websiteName" class="contact-label">Website name</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="contact-field">
                            <textarea rows="4" class="contact-input" id = "message"></textarea>
                            <label for="message"  class="contact-label textarea">Write your message</label>
                        </div>
                    </div>
                </div>
                <button class="ui large teal submit button contact-submit">
                    Submit
                </button>
            </form>
        </div>

    </div>
</body>

</html>