@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<h1>@ViewData["Title"]</h1>*@

<style type="text/css">
        body {
            background-color: #DADADA;
        }

            body > .grid {
                height: 50%;
            }
</style>
<div class="ui middle aligned center aligned grid">

    <div class="column" style="width:40%; margin-top:10%">
        <h2 class="ui teal image header">
            <img src="~/images/logo.png" class="image">
            <div class="content">
                Log-in to your account
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </h2>
        <form id="account" method="post" class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="E-mail address" aria-required="true" />
                    </div>
                    <div class="input field">
                        <span asp-validation-for="Input.Email" class="text-danger" style="display: inline-block;padding: 5px; margin-top: 10px;"></span>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Password" aria-required="true" />
                    </div>
                    <div class="input field">
                        <span asp-validation-for="Input.Password" class="text-danger"style="display: inline-block;padding: 5px; margin-top: 10px;"></span>
                    </div>
                </div>
                <input asp-for="Input.RecaptchaToken" type="hidden" id="g-recaptcha-response">
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6Le_TIopAAAAAL414AQX_mJ3W8fQcV5d0GZDcFhP"></div>
                <br />
                <script>
                    var onloadCallback = function () {
                        function (response) {
                            // Update the value of the hidden input field with the reCAPTCHA response
                            document.getElementById('g-recaptcha-response').value = response;
                        };
                </script>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" style="margin-left: -15px" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
